body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-container {
  height: 90vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  height: 400px;
  width: 530px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  border-radius: 15px;
}
.img {
  height: 100%;
  width: 50%;
  background-image: url("../images/image-product-desktop.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px 0 0 15px;
}
.text-container{
    width: 50%;
    padding: 25px;
}
.title{
    font-family: Fraunces, sans-serif;
    font-size: 35px;
    
}
.paragraph{
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    text-align: justify;
    color: hsla(228, 12%, 48%, 0.664);
    font-weight: 700;
    line-height: 1.5;
}
.price{
    color: hsl(158, 36%, 37%);
    display: flex;
    font-size: 25px;
    font-family: Fraunces, sans-serif;
    font-weight: 700;
}
.old-price{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-left: 25px;
    text-decoration: line-through;
    color: hsla(228, 12%, 48%, 0.664);
}
@media only screen and (max-width: 600px) {
  .img {
    height: 300px;
    width: 100%;
    background-image: url("../images/image-product-mobile.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
  }
  .card {
    height: 600px;
    flex-direction: column;
  }
  .text-container{
    width: 100%;
    padding: 0;
    margin: 15px;
  }
  .paragraph{    
    width: 100%;
  }
}
